@font-face {
  font-family: "Roboto-Reg";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto-Reg";
  background-color: #cccccc;
}

/*  % Breite, Höhe und Frabe des Headers angepasst */
#headerBox {
  width: 1440px;
  height: 662;
  margin-bottom: 56px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: #5350505b 2px solid;
  box-shadow: 0 4px 2px -2px rgb(166, 166, 166);
}

header {
  width: 1440px;
  height: 662px;
}

/*  % Die Navigationsleister */
.coloredNav {
  padding-top: 20px;
  padding-bottom: 103px;
}

a {
  margin-right: 22.7px;
  text-decoration: none;
}

.visitedLinkCol:hover {
    font-family: "Roboto-Bold";
}

/* % Gestaltung der ersten Section im Herader, Schriftblock */
.sectionHeader {
  display: block;
  width: 620px;
  height: 234px;
  margin-bottom: 50px;
  font-size: 50px;
}

.coloredNav,
.visitedLinkCol,
h1 {
  color: #659d89;
}

h1 {
  font-size: 50px;
}

/*  % Die Gestaltung der SocialMedia Icons und Ausrichtung auf die rechte Seite */
main {
  width: 1440px;
  height: 3552px;
}

.icon {
  display: block;
  width: 1240px;
  height: 73.5px;
  text-align: right;
  margin-bottom: 80px;
}

li {
  list-style: none;
}

.socialIcon {
  width: 20px;
  height: 20px;
  text-align: right;
  cursor: pointer;
}

/* % hover über die social icons */

.socialIcon:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.783);
}

/* % Gestaltung des A-Tags und Hover */
.aFooterCol {
  color: #666666;
  font-size: 16px;
  margin-bottom: 65.5px;
  /* & :hover {
    border: 5px solid green;
  } */
}

.aFooterCol:hover {
  /* border: 2px solid pink; */
  font-family: "Roboto-Bold";
}

/*  % Box Gestaltung der div Main mit den Bildern der Emojis */

.divMainEmo {
  width: 1440px;
  height: 737.5px;
  margin-bottom: 50px;
  border-bottom: #5350505b 2px solid;
  padding-left: 100px;
  padding-right: 100px;
}

h3 {
  font-size: 20px;
  margin-top: 56px;
  margin-bottom: 15px;
}

.emotionText {
  font-size: 16px;
}

.emoGifBox {
  width: 1240px;
  height: 679px;
  text-align: center;
  padding: 80px;
}

/* % die margin wird nur für die beiden lesten bilder in der reihe benötigt */
.emoSize {
  width: 320px;
  height: 232px;
  margin-left: 52px;
}

.emotionGif {
  width: 1080px;
  height: 284.5px;
}

/* % Beginn von Main mit Bildern und den dazu gehörigen Unterschriften. */

.featuresBox {
  width: 1440px;
  height: 2733.39px;
  border-bottom: #5350505b 2px solid;
  padding-left: 100px;
}

.picSection {
  padding: 80px;
}

.picSize {
  width: 756px;
  height: 425.25px;
  margin-bottom: 17.5px;
}

.pictureBox {
  width: 1080px;
  height: 534.25px;
  margin-bottom: 100px;
}

/* % Bild Beschreibungen */

.uppercase {
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
}

.figcaption {
  font-size: 20px;
  padding: 20px;
}

/* % Box für das Bild und die Unterschrift, damit der Text darunter zentriert werden kann*/
article {
  padding-bottom: 100px;
}

.textCenterPic {
  width: 756px;
  height: 425.25px;
  text-align: center;
  margin-bottom: 100px;
}

.floatRight {
  float: right;
}

/*  % Layout vom Footer erstellen */
.footerFooter {
  text-align: center;
  /* border: 1px solid pink; */
  width: 1440px;
  height: 202px;
}

#layoutFooterA {
  font-size: 20px;
  color: #666666;
  /* margin-bottom: 82px; */
  margin: 0;
}

footer p {
  margin-top: 82px;
  font-size: 10px;
}
